/*合成*/
.tts_experience{
    position:relative;
    width: 1128px;
    background-color: #fff;
    margin: 0 36px 36px 36px;
}

 .tts_experience_up{
    z-index: 10;
    width: 1128px;
    border: 1px solid #e5e5e5;
    background-color: #FCFCFC;
}
.tts_exp_up{
    margin:0;    
    width: 1058px;
}
.tts_exp_step{
    padding:0 30px;
    font-size: 16px;
    color: #000;
    margin: 32px 0 0 0;
    display: block;
    text-align:left;
}
.tts_exp_title{
	margin:20px 0 0 0;
    font-size: 14px;
    color: #333;
	text-align:left;
    display: block;
    
}
.tts_exp_up ul{ 
    width: 1062px; 
    text-align:left; 
    margin-left: -40px;
}

.tts_exp_up ul li{
    display: inline-block;
    text-align:center; 
    margin-top: 10px;  
}
.tts_exp_person{
    height: 36px;
    display: inline-block;
    float: left;
    line-height: 36px;
   /*border-radius: 4px;*/
    width: 200px;
    background: -webkit-linear-gradient( left, #fff 0%, #fff 100%), -webkit-linear-gradient( left, #0b63ff 0%, #01a0ff 100%);
    background-clip: content-box, padding-box;
    margin-right:20px; 
    font-size: 14px;
    color: #333; 
    cursor: pointer;   
}
.tts_exp_up>ul>li>div:hover{
    box-shadow: 0 0 4px 1px #47a6ff;
}
.touch{
   color:red;
   background:linear-gradient(90deg,#0b63ff, #01a0ff);
    /*background: linear-gradient(90deg,#0b63ff, #01a0ff);*/
}


.line_bo_tts{
    
    position: absolute;
    z-index: 2;
    top: 352px;
    left: 0;

}
.line_bo_tts>img{
    width: 1122px; 
    
}
#tts_category_data{
    padding:0 30px;
}
#tts_category_data ul li .item,#tts_rate_data ul li .item{
    height: 46px;
    display: inline-block;
    float: left;
    line-height: 46px;
    border-radius: 2px;
    border:1px solid #337DFF;
    width: 180px;
    background:#fff;
    margin-right:20px; 
    font-size: 12px;
    color: #333;
    cursor: pointer;   
}
#tts_category_data ul li:hover .item,
#tts_category_data ul li.click .item{
    box-shadow: 0 0 12px #337DFF;
}
#tts_category_data ul li .item i{
    display: inline-block;
    width: 16px;height: 16px;
    margin:0 0 -3px 3px;
    background:url(../img/tts_recommend.png) 0 -16px no-repeat;
    background-size: 16px 32px;
}
#tts_category_data ul li.click .item,#tts_rate_data ul li.click .item{
    border:1px solid transparent;
    /*background:linear-gradient(90deg,#0b63ff, #01a0ff);*/
    background-color: #337DFF;
    color: #fff;  
}
#tts_category_data ul li.click .item i{
    background:url(../img/tts_recommend.png) 0 0 no-repeat;
    background-size: 16px 32px;
}
.tts_exp_dashed{
    width: 100%;                  
    margin-top: 32px;
}
.tts_exp_text{
    position: relative;
    width: 1125px;
    height: 210px;
    margin-top: 20px;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
    background-color: #fff;
}
.tts_exp_text textarea{
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    padding: 8px 30px 8px 30px;
    font-size: 12px;
}
.tts_exp_text textarea:focus{
    outline: none;
}
.tts_exp_button{
    display: inline-block;
    float: right;
    width: 138px;
    height: 40px;
    border:0;  
    cursor: pointer;
    outline: none;
    background: url(../img/contral_play.png) 0 0 no-repeat;
    background-size: 138px 40px;
}
.tts_exp_button.btn2{
    display: none;
    background: url(../img/contral_star_toggle.png) 0 0 no-repeat;
    background-size: 138px 40px;
}


.voice_rata{
	float:right;
	margin-top: 24px;
	margin-right: 24px;
    line-height: 22px;
	height:22px;
	display:inline-block;
}
.voice_volume{
	float:right;
	margin-top: 9px;
	margin-right: 24px;
	height:26px;
	display:inline-block;
	line-height:26px;
}
.voice_rata img,
.voice_volume img{
    vertical-align: middle;
    cursor: pointer;
}

.rata_show {
	display:inline-block;
	margin:0 auto;
	font-size:14px;
	color:#333;
	position: relative;
}
.volume_show{
	display:inline-block;
	margin:0 auto;
	font-size:14px;
	color:#333;
	position: relative;
}


.title_zh {
    margin-top: 10px;
}

.title_zh h4 {
    font-size: 24px;
}

.title_zh span {
    display: inline-block;
    width: 40px;
    height: 2px;
    border-top: 2px solid #000000;
    margin: 3px 10px;
}
.speech .banner{
    background: url('../images/image/speech.jpg') no-repeat center center;
}
.SpeechSynthesis{
    width: 100%;
    background-color: #f2f3f7;
}
.SpeechSynthesis .content{
    width: 1200px;
    margin:  0 auto;
    text-align: center;
    padding-top:70px;
    padding-bottom:40px;
}
.SpeechSynthesis .content p{
    line-height: 32px;
    margin: -33px 10px 0px 30px;
    padding:0;
    text-align:right;font-size:12px;color:#999;
}
.SpeechSynthesis p{
    padding: 42px 0;
}

.layui-layer-loading .layui-layer-content{
    width: 120px;
    padding-top: 60px;
    margin-top: -30px;
    color: #fff;
    text-align: center;
    background-position: 30px 0;
    background-repeat: none;
}

.tts_exp_down-op{
    padding: 30px 30px 10px 0;
    overflow: hidden;
    text-align: left;
}
.tts_exp_text .tip{
    position: relative;
    top: -16px;
    width: 160px;
    height: 30px;
    border-radius:18px;
    border:1px solid #ccc;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background-color: #fff;
}

.tts_exp_down-op .rate-cont{
    float: left;
    width: 400px;
}
.tts_exp_down-op .rate-cont .pro{
    position: relative;
    z-index: 2;
    padding-left: 30px;
    text-align: left;
    font-size: 0;
}
.tts_exp_down-op .rate-cont .pro .txt{
    display: inline-block;
    width: 60px;
    font-size: 14px;
    color: #000;
    line-height: 30px;
}
.tts_exp_down-op .rate-cont .pro .line{
    display: inline-block;
    width: 200px;
    height: 1px;
    margin-bottom: 6px;
    border-radius: 2px;
    background-color: #ccc;
}
.tts_exp_down-op .rate-cont ul{
    list-style: none;
    padding-left:90px;
    margin-top: -19px;
    overflow: hidden;
}
.tts_exp_down-op .rate-cont ul li{
    position: relative;
    z-index:5;
    float: left;
    width: 20px;
    margin-left: -5px;
    text-indent: -7px;
    cursor: pointer;
}
.tts_exp_down-op .rate-cont ul.ul2 li{
    text-indent: -9px;
}
.tts_exp_down-op .rate-cont ul li.li1{
    left: 0;
}
.tts_exp_down-op .rate-cont ul li.li2{
    left: 35px;
}
.tts_exp_down-op .rate-cont ul li.li3{
    left: 70px;
}
.tts_exp_down-op .rate-cont ul li.li4{
    left: 105px;
}
.tts_exp_down-op .rate-cont ul li.li5{
    left: 140px;
}
.tts_exp_down-op .rate-cont ul li .dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
}
.tts_exp_down-op .rate-cont ul li.active .dot{
    background-color: #337DFF;
}
.tts_exp_down-op .rate-cont ul li.active .txt{
    color: #222;
}

.tts_exp_down-op .rate-cont .btn-cont{
    float: right;
}


.layui-layer-loading .layui-layer-loading1{
    background-size:50px 50px;
}


.loading-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
}
.loading-page .layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,0.5);
}
.loading-page .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin: -50px 0 0 -50px;
    text-align: center;
    color: #fff;
}




@-webkit-keyframes line-scale-party {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1); }
  
    50% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5); }
  
    100% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes line-scale-party {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1); }
  
    50% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5); }
  
    100% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @-webkit-keyframes line-scale-pulse-out {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
  
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
  
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }
  
  @keyframes line-scale-pulse-out {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
  
    50% {
      -webkit-transform: scaley(0.4);
              transform: scaley(0.4); }
  
    100% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }
  .line-scale-pulse-out > div {
    background-color: #fff;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(.85, .25, .37, .85);
            animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(.85, .25, .37, .85); }
    .line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
      -webkit-animation-delay: 0.2s !important;
              animation-delay: 0.2s !important; }
    .line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
      -webkit-animation-delay: 0.4s !important;
              animation-delay: 0.4s !important; }